In [26]:
import pandas as pd

heart = pd.read_csv("heart.csv")

heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,present
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [27]:
heart["present"].value_counts()

present
0    160
1    137
Name: count, dtype: int64

In [28]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       297 non-null    int64
 1   sex       297 non-null    int64
 2   cp        297 non-null    int64
 3   trestbps  297 non-null    int64
 4   chol      297 non-null    int64
 5   fbs       297 non-null    int64
 6   restecg   297 non-null    int64
 7   thalach   297 non-null    int64
 8   exang     297 non-null    int64
 9   oldpeak   297 non-null    float64
 10  slope     297 non-null    int64
 11  ca        297 non-null    int64
 12  thal      297 non-null    int64
 13  present   297 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 32.6 KB

In [30]:
groups = heart.groupby("present")

In [32]:
groups.mean().columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal'],
      dtype='object')

In [31]:
groups.mean()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
present,,,,,,,,,,,,,
0,52.643750,0.556250,2.793750,129.175000,243.493750,0.143750,0.843750,158.581250,0.143750,0.598750,1.412500,0.275000,3.787500
1,56.759124,0.817518,3.583942,134.635036,251.854015,0.145985,1.175182,139.109489,0.540146,1.589051,1.824818,1.145985,5.832117

In [33]:
predictors = ['age', 'restecg', 'thalach','ca']

In [34]:
X = heart[predictors]
y = heart["present"]

In [37]:
X.head() # input

   age  restecg  thalach  ca
0   63        2      150   0
1   67        2      108   3
2   67        2      129   2
3   37        0      187   0
4   41        2      172   0

In [39]:
y.head() # output/target

0    0
1    1
2    1
3    0
4    0
Name: present, dtype: int64

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train,X_test, y_train,y_test = train_test_split(X,y, test_size=0.3, random_state=1)

In [42]:
y_train.value_counts()

present
0    109
1     98
Name: count, dtype: int64

In [43]:
y_test.value_counts()

present
0    51
1    39
Name: count, dtype: int64

In [44]:
from sklearn.linear_model import LogisticRegression

In [45]:
heart_model = LogisticRegression()

In [47]:
heart_model.fit(X_train, y_train)

LogisticRegression()

In [48]:
heart_model.score(X_train, y_train)*100

76.81159420289855

In [49]:
prediction_train = heart_model.predict(X_train)

In [51]:
X_train["actual"] = y_train

In [52]:
X_train

     age  restecg  thalach  ca  actual
164   57        0      168   0       0
44    61        2      169   0       1
161   54        0      158   0       0
147   45        2      170   0       0
174   52        0      147   3       0
..   ...      ...      ...  ..     ...
203   58        2      130   2       1
255   70        2      143   0       0
72    62        0       99   2       1
235   49        0      162   0       0
37    57        2      112   1       1

[207 rows x 5 columns]

In [53]:
X_train["prediction"] = prediction_train

In [54]:
X_train

     age  restecg  thalach  ca  actual  prediction
164   57        0      168   0       0           0
44    61        2      169   0       1           0
161   54        0      158   0       0           0
147   45        2      170   0       0           0
174   52        0      147   3       0           1
..   ...      ...      ...  ..     ...         ...
203   58        2      130   2       1           1
255   70        2      143   0       0           0
72    62        0       99   2       1           1
235   49        0      162   0       0           0
37    57        2      112   1       1           1

[207 rows x 6 columns]

In [55]:
prediction_test = heart_model.predict(X_test)

In [56]:
heart_model.score(X_test, y_test)*100

75.55555555555556

In [57]:
X_test

     age  restecg  thalach  ca
138   51        2      166   0
233   56        2      103   0
51    65        0      140   0
290   41        0      182   0
242   67        0       71   0
..   ...      ...      ...  ..
193   69        2      131   1
249   64        0      105   1
19    49        0      171   0
14    52        0      162   0
293   45        0      132   0

[90 rows x 4 columns]

In [58]:
X_test["actual"] = y_test

In [59]:
X_test

     age  restecg  thalach  ca  actual
138   51        2      166   0       0
233   56        2      103   0       1
51    65        0      140   0       0
290   41        0      182   0       0
242   67        0       71   0       1
..   ...      ...      ...  ..     ...
193   69        2      131   1       0
249   64        0      105   1       0
19    49        0      171   0       0
14    52        0      162   0       0
293   45        0      132   0       1

[90 rows x 5 columns]

In [60]:
X_test["prediction"] = prediction_test

In [62]:
X_test

     age  restecg  thalach  ca  actual  prediction
138   51        2      166   0       0           0
233   56        2      103   0       1           1
51    65        0      140   0       0           0
290   41        0      182   0       0           0
242   67        0       71   0       1           1
..   ...      ...      ...  ..     ...         ...
193   69        2      131   1       0           1
249   64        0      105   1       0           1
19    49        0      171   0       0           0
14    52        0      162   0       0           0
293   45        0      132   0       1           0

[90 rows x 6 columns]

In [78]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [66]:
acc_train = accuracy_score(y_train, prediction_train)*100
acc_train

76.81159420289855

In [67]:
acc_test = accuracy_score(y_test, prediction_test)*100
acc_test

75.55555555555556

In [72]:
clas_test = classification_report(y_test, prediction_test)
print(clas_test)

              precision    recall  f1-score   support

           0       0.82      0.73      0.77        51
           1       0.69      0.79      0.74        39

    accuracy                           0.76        90
   macro avg       0.76      0.76      0.75        90
weighted avg       0.76      0.76      0.76        90

In [74]:
X_test.head()

     age  restecg  thalach  ca  actual  prediction
138   51        2      166   0       0           0
233   56        2      103   0       1           1
51    65        0      140   0       0           0
290   41        0      182   0       0           0
242   67        0       71   0       1           1

In [77]:
(X_test["actual"] == X_test["prediction"]).sum()*100/90

75.55555555555556

In [79]:
cm = confusion_matrix(y_test, prediction_test)

In [81]:
pd.DataFrame(cm)

    0   1
0  37  14
1   8  31

In [84]:
tn,fp,fn,tp = cm.ravel()

In [85]:
tn

37

In [86]:
fp

14

In [88]:
sensitivity = tp/(fn+tp) # total actual postive value
sensitivity*100

79.48717948717949

In [89]:
specificity = tn/(fp+tn) # total actual negative value
specificity*100

72.54901960784314

In [90]:
precision_ppv = tp/(fp+tp) # total predcited postive value
precision_ppv*100

68.88888888888889