In [24]:
import pandas as pd

In [25]:
hn = pd.read_csv("hacks.csv")

In [26]:
hn.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,1/26/2016 19:30
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
3,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
4,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12

In [27]:
hn.tail(49)

,id,title,url,num_points,num_comments,author,created_at
20051,11620017,"The Optical Illusion Thats So Good, It Even Fo...",https://dankaminsky.com/2010/12/17/mindless-eq...,3,1,cmrx64,5/3/2016 12:41
20052,10532762,"Yahoo Hires McKinsey to Mull Reorg, as Mayer D...",http://recode.net/2015/11/09/yahoo-hires-mckin...,8,4,jackgavigan,11/9/2015 13:02
20053,10424028,Apple could use custom x86 SoC made by AMD,http://www.bitsandchips.it/52-english-news/618...,4,1,doener,10/21/2015 6:46
20054,11399803,Hash_salt=,https://github.com/search?p=2&q=%22hash_salt%3...,4,2,newsignup,3/31/2016 19:17
20055,11883153,Movie written by AI algorithm turns out to be ...,http://arstechnica.co.uk/the-multiverse/2016/0...,2,1,vinnyglennon,6/11/2016 12:03
20056,12034678,A Tender Hand in the Presence of Death,http://www.newyorker.com/magazine/2016/07/11/t...,33,9,wallflower,7/5/2016 6:08
20057,12320560,Universities not teaching front-end developmen...,https://medium.com/code-like-a-girl/universiti...,1,3,DinahDavis,8/19/2016 15:10
20058,10710588,Don't bother creating a mobile app,https://medium.com/inside-birdly/why-you-shoul...,242,175,marwann,12/10/2015 13:59
20059,12521307,Sugar Industry Manipulated Research About Heal...,http://www.npr.org/2016/09/13/493801090/sugar-...,35,1,pkaeding,9/17/2016 17:05
20060,10897019,Hackers and Heroes: Rise of the CCC and Hacker...,http://hackaday.com/2016/01/12/hackers-and-her...,111,34,mariuz,1/13/2016 19:58
20061,11743946,Ask HN: Why are papers still published as PDFs?,NaN,4,2,adius,5/21/2016 9:22
20062,11373889,"RichCSS Beautiful, DRY, Clean and Reusable CSS",http://www.richcss.com,5,1,richardsondx,3/28/2016 12:42
20063,10508267,OpenStreetMap from the International Space Sta...,http://patriciogonzalezvivo.github.io/ISS,1,1,chippy,11/4/2015 17:53
20064,12252371,Is the U.S. Due for Radically Raising Taxes fo...,http://www.theatlantic.com/business/archive/20...,1,1,JumpCrisscross,8/9/2016 3:18
20065,11444393,"Show HN: PhantomJsCloud, Headless Browser SaaS",https://PhantomJsCloud.com,2,1,novaleaf,4/7/2016 3:04
20066,10527264,Google services set for 'return' to China,http://www.bbc.com/news/technology-34698642,53,49,tellarin,11/8/2015 3:08
20067,11599497,WebExtensions in Firefox 48,https://blog.mozilla.org/addons/2016/04/29/web...,106,69,matteotom,4/29/2016 23:49
20068,10701807,Tiny temperature sensor powered by radio waves,https://www.tue.nl/en/university/news-and-pres...,3,2,lakeeffect,12/9/2015 3:56
20069,10206255,Chariot Wins First Round of San Francisco's Pr...,http://www.forbes.com/sites/scottbeyer/2015/09...,42,44,evilsimon,9/11/2015 21:22
20070,12149183,Show HN: Parse recipe ingredients using JavaSc...,https://github.com/herkyl/ingredients-parser,6,2,zongitsrinzler,7/23/2016 11:35
20071,11473902,Engineering PhD student who died last year wil...,http://host.madison.com/wsj/news/local/uw-engi...,145,19,DarkContinent,4/11/2016 18:23
20072,10942147,Apples Amazing New Music App Hits All the Righ...,https://www.yahoo.com/tech/apple-s-amazing-new...,4,1,snake117,1/20/2016 23:09
20073,11485277,Airbnb acquires team of Bitcoin and blockchain...,http://qz.com/657246/airbnb-just-acquired-a-te...,13,1,onthedole,4/13/2016 2:29
20074,10469896,Is Tesla Doomed?,http://www.roadandtrack.com/car-culture/a26859...,3,3,tomcam,10/29/2015 9:10
20075,12151906,"An Experiment with GitHub Pages, Jekyll and Tr...",http://darek.dk/2016/05/29/an-experiment-with-...,3,1,darekdk,7/24/2016 2:16
20076,12532304,Tips from a Pro: An Introduction to Microscopi...,http://www.popphoto.com/tips-pro-microscopic-p...,51,4,Tomte,9/19/2016 15:45
20077,10741606,"Comcast CEO to angry customers: Its not me, it...",http://www.vox.com/business-and-finance/2015/1...,7,1,praneshp,12/16/2015 0:47
20078,12065681,The Renewed Case for the Reduced Instruction S...,http://www.eecs.berkeley.edu/Pubs/TechRpts/201...,69,31,ingve,7/10/2016 14:28
20079,12317616,U.S. Judge Rejects Ubers Proposed $100M Settle...,http://www.wsj.com/articles/u-s-judge-rejects-...,54,56,Kaedon,8/19/2016 2:30
20080,11294026,English Syntax Highlighting,http://evanhahn.github.io/English-text-highlig...,248,105,azdle,3/16/2016 0:06
20081,11925814,The Geek Behind Google's Map Quest,http://www.fastcompany.com/3060811/most-creati...,1,2,chickenbane,6/17/2016 22:00
20082,10638339,"Usenet, what have you become? (2012)",http://www.90percentofeverything.com/2012/08/2...,63,57,pmoriarty,11/27/2015 18:42
20083,11138742,"Colma, Calif., Is a Town of 2.2 Square Miles, ...",http://www.nytimes.com/2006/12/09/us/09cemeter...,56,37,apsec112,2/20/2016 4:00
20084,12490497,The bizarre world of Bitcoin mining finds a ne...,https://www.washingtonpost.com/world/asia_paci...,2,1,e15ctr0n,9/13/2016 17:36
20085,11194636,Microservice on-top of distributed filesystem ...,https://medium.com/@lorenzogotuned/applying-so...,3,1,tuned,2/29/2016 10:26
20086,10526324,Satoshi Nakamoto officially nominated for the ...,http://www.huffingtonpost.com/bhagwan-chowdry/...,47,6,rmason,11/7/2015 21:33
20087,11452432,Debian XScreenSaver package maintainer responds,https://bugs.debian.org/cgi-bin/bugreport.cgi?...,38,40,ashitlerferad,4/8/2016 3:41
20088,10788826,TSA Sued Over New Policy to Refuse Opt-Outs,http://professional-troublemaker.com/2015/12/2...,112,75,tsaoutourpants,12/24/2015 17:19
20089,10499089,"I have $10,000 dollars in my bank account. Am ...",https://medium.com/@sktgthill/i-have-10-000-do...,1,1,thileepan,11/3/2015 12:29
20090,11433605,Users Really Do Plug in USB Drives They Find [...,https://zakird.com/papers/usb.pdf,3,2,dadrian,4/5/2016 19:31
20091,10588305,Visual Studio now available in cloud subscript...,https://www.visualstudio.com/products/how-to-b...,113,41,mynameisvlad,11/18/2015 15:45
20092,11870578,Thought leader gives talk that will inspire yo...,https://www.youtube.com/watch?v=_ZBKX-6Gz6A,4,1,Analemma_,6/9/2016 16:49
20093,10404949,On Botnets and Streaming Music Services,http://motherboard.vice.com/read/i-built-a-bot...,120,70,6stringmerc,10/17/2015 16:35
20094,10524489,Two new steps toward quantum computing,http://phys.org/news/2015-11-big-quantum.html,14,2,djmylt,11/7/2015 11:27
20095,12379592,How Purism Avoids Intels Active Management Tec...,https://puri.sm/philosophy/how-purism-avoids-i...,10,6,AdmiralAsshat,8/29/2016 2:22
20096,10339284,YC Application Translated and Broken Down,https://medium.com/@zreitano/the-yc-applicatio...,4,1,zreitano,10/6/2015 14:57
20097,10824382,Microkernels are slow and Elvis didn't do no d...,http://blog.darknedgy.net/technology/2016/01/0...,169,132,vezzy-fnord,1/2/2016 0:49
20098,10739875,How Product Hunt really works,https://medium.com/@benjiwheeler/how-product-h...,695,222,brw12,12/15/2015 19:32
20099,11680777,RoboBrowser: Your friendly neighborhood web sc...,https://github.com/jmcarp/robobrowser,182,58,pmoriarty,5/12/2016 1:43

In [28]:
"ASK HN"
"Ask Hn"
"ask hn"

'ask hn'

In [29]:
ask_bol = hn["title"].str.lower().str.startswith("ask hn")
ask_bol

0        False
1        False
2        False
3        False
4        False
         ...
20095    False
20096    False
20097    False
20098    False
20099    False
Name: title, Length: 20100, dtype: bool

In [30]:
ask_posts = hn[ask_bol]
ask_posts.head()

,id,title,url,num_points,num_comments,author,created_at
7,12296411,Ask HN: How to improve my personal website?,NaN,2,6,ahmedbaracat,8/16/2016 9:55
17,10610020,Ask HN: Am I the only one outraged by Twitter ...,NaN,28,29,tkfx,11/22/2015 13:43
22,11610310,Ask HN: Aby recent changes to CSS that broke m...,NaN,1,1,polskibus,5/2/2016 10:14
30,12210105,Ask HN: Looking for Employee #3 How do I do it?,NaN,1,3,sph130,8/2/2016 14:20
31,10394168,Ask HN: Someone offered to buy my browser exte...,NaN,28,17,roykolak,10/15/2015 16:38

In [31]:
show_bol = hn["title"].str.lower().str.startswith("show hn")
show_bol

0        False
1        False
2        False
3        False
4        False
         ...
20095    False
20096    False
20097    False
20098    False
20099    False
Name: title, Length: 20100, dtype: bool

In [32]:
show_posts = hn[show_bol]
show_posts.head()

,id,title,url,num_points,num_comments,author,created_at
13,10627194,Show HN: Wio Link ESP8266 Based Web of Things...,https://iot.seeed.cc,26,22,kfihihc,11/25/2015 14:03
39,10646440,Show HN: Something pointless I made,http://dn.ht/picklecat/,747,102,dhotson,11/29/2015 22:46
46,11590768,"Show HN: Shanhu.io, a programming playground p...",https://shanhu.io,1,1,h8liu,4/28/2016 18:05
84,12178806,Show HN: Webscope Easy way for web developers...,http://webscopeapp.com,3,3,fastbrick,7/28/2016 7:11
97,10872799,Show HN: GeoScreenshot Easily test Geo-IP bas...,https://www.geoscreenshot.com/,1,9,kpsychwave,1/9/2016 20:45

In [33]:
ask_posts["num_comments"].mean()

14.038417431192661

In [34]:
show_posts["num_comments"].mean()

10.31669535283993

In [35]:
ask_posts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1744 entries, 7 to 20061
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1744 non-null   int64
 1   title         1744 non-null   object
 2   url           7 non-null      object
 3   num_points    1744 non-null   int64
 4   num_comments  1744 non-null   int64
 5   author        1744 non-null   object
 6   created_at    1744 non-null   object
dtypes: int64(3), object(4)
memory usage: 109.0+ KB

In [36]:
pd.to_datetime(ask_posts["created_at"])

7       2016-08-16 09:55:00
17      2015-11-22 13:43:00
22      2016-05-02 10:14:00
30      2016-08-02 14:20:00
31      2015-10-15 16:38:00
                ...
20039   2016-01-29 09:42:00
20042   2016-08-07 12:58:00
20045   2016-07-04 08:50:00
20048   2016-03-05 01:25:00
20061   2016-05-21 09:22:00
Name: created_at, Length: 1744, dtype: datetime64[ns]

In [37]:
ask_posts["created_at"] = pd.to_datetime(ask_posts["created_at"]).copy()

C:\Users\CGDC\AppData\Local\Temp\ipykernel_13268\2472244110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ask_posts["created_at"] = pd.to_datetime(ask_posts["created_at"]).copy()

In [38]:
ask_posts

,id,title,url,num_points,num_comments,author,created_at
7,12296411,Ask HN: How to improve my personal website?,NaN,2,6,ahmedbaracat,2016-08-16 09:55:00
17,10610020,Ask HN: Am I the only one outraged by Twitter ...,NaN,28,29,tkfx,2015-11-22 13:43:00
22,11610310,Ask HN: Aby recent changes to CSS that broke m...,NaN,1,1,polskibus,2016-05-02 10:14:00
30,12210105,Ask HN: Looking for Employee #3 How do I do it?,NaN,1,3,sph130,2016-08-02 14:20:00
31,10394168,Ask HN: Someone offered to buy my browser exte...,NaN,28,17,roykolak,2015-10-15 16:38:00
...,...,...,...,...,...,...,...
20039,10994357,Ask HN: Is it feasible to port Apple's Swift t...,NaN,3,17,schappim,2016-01-29 09:42:00
20042,12241954,Ask HN: What to do when a developer goes dark?,NaN,3,3,bittysdad,2016-08-07 12:58:00
20045,12029526,Ask HN: Killer app for AR?,NaN,2,2,davidiach,2016-07-04 08:50:00
20048,11227969,Ask HN: How do you balance a serious relations...,NaN,10,4,audace,2016-03-05 01:25:00
20061,11743946,Ask HN: Why are papers still published as PDFs?,NaN,4,2,adius,2016-05-21 09:22:00

In [40]:
ask_posts["created_at"].dt.hour

7         9
17       13
22       10
30       14
31       16
         ..
20039     9
20042    12
20045     8
20048     1
20061     9
Name: created_at, Length: 1744, dtype: int32

In [41]:
ask_posts["hour"] = ask_posts["created_at"].dt.hour

C:\Users\CGDC\AppData\Local\Temp\ipykernel_13268\1856746366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ask_posts["hour"] = ask_posts["created_at"].dt.hour

In [42]:
ask_posts

,id,title,url,num_points,num_comments,author,created_at,hour
7,12296411,Ask HN: How to improve my personal website?,NaN,2,6,ahmedbaracat,2016-08-16 09:55:00,9
17,10610020,Ask HN: Am I the only one outraged by Twitter ...,NaN,28,29,tkfx,2015-11-22 13:43:00,13
22,11610310,Ask HN: Aby recent changes to CSS that broke m...,NaN,1,1,polskibus,2016-05-02 10:14:00,10
30,12210105,Ask HN: Looking for Employee #3 How do I do it?,NaN,1,3,sph130,2016-08-02 14:20:00,14
31,10394168,Ask HN: Someone offered to buy my browser exte...,NaN,28,17,roykolak,2015-10-15 16:38:00,16
...,...,...,...,...,...,...,...,...
20039,10994357,Ask HN: Is it feasible to port Apple's Swift t...,NaN,3,17,schappim,2016-01-29 09:42:00,9
20042,12241954,Ask HN: What to do when a developer goes dark?,NaN,3,3,bittysdad,2016-08-07 12:58:00,12
20045,12029526,Ask HN: Killer app for AR?,NaN,2,2,davidiach,2016-07-04 08:50:00,8
20048,11227969,Ask HN: How do you balance a serious relations...,NaN,10,4,audace,2016-03-05 01:25:00,1
20061,11743946,Ask HN: Why are papers still published as PDFs?,NaN,4,2,adius,2016-05-21 09:22:00,9

In [44]:
avg_comnts = ask_posts.pivot_table(index = "hour", values = "num_comments", aggfunc = "mean")

In [47]:
avg_comnts

      num_comments
hour
0         8.127273
1        11.383333
2        23.810345
3         7.796296
4         7.170213
5        10.086957
6         9.022727
7         7.852941
8        10.250000
9         5.577778
10       13.440678
11       11.051724
12        9.410959
13       14.741176
14       13.233645
15       38.594828
16       16.796296
17       11.460000
18       13.201835
19       10.800000
20       21.525000
21       16.009174
22        6.746479
23        7.985294

In [46]:
type(avg_comnts)

pandas.core.frame.DataFrame

In [49]:
avg_comnts.sort_values("num_comments")

      num_comments
hour
9         5.577778
22        6.746479
4         7.170213
3         7.796296
7         7.852941
23        7.985294
0         8.127273
6         9.022727
12        9.410959
5        10.086957
8        10.250000
19       10.800000
11       11.051724
1        11.383333
17       11.460000
18       13.201835
14       13.233645
10       13.440678
13       14.741176
21       16.009174
16       16.796296
20       21.525000
2        23.810345
15       38.594828

In [50]:
avg_comnts.sort_values("num_comments", ascending = False)

      num_comments
hour
15       38.594828
2        23.810345
20       21.525000
16       16.796296
21       16.009174
13       14.741176
10       13.440678
14       13.233645
18       13.201835
17       11.460000
1        11.383333
11       11.051724
19       10.800000
8        10.250000
5        10.086957
12        9.410959
6         9.022727
0         8.127273
23        7.985294
7         7.852941
3         7.796296
4         7.170213
22        6.746479
9         5.577778

In [51]:
avg_comnts.sort_values("num_comments", ascending = False).head()

      num_comments
hour
15       38.594828
2        23.810345
20       21.525000
16       16.796296
21       16.009174