In [1]:
l = list(range(9))

l

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
l = list(range(1,9))

l

[1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
len(l)

8

In [4]:
lst_count = 0

for i in l:
    print(i+1)

2
3
4
5
6
7
8
9

In [5]:

for _ in l:
    print(_)

1
2
3
4
5
6
7
8

In [9]:
lst_count = 0

for _ in l:
    lst_count += 1

In [7]:
lst_count

8

In [8]:
sum(l)

36

In [11]:
total = 0

for i in l:
    total += i

In [12]:
total

36

In [13]:
total = 0

for _ in l:
    total += _

In [14]:
total

36

In [15]:
url =  "https://api.exchangerate-api.com/v4/latest/USD"

In [16]:
import requests

In [17]:
response = requests.get(url)

In [18]:
response.status_code

200

In [19]:
data = response.json()

In [20]:
type(data)

dict

In [21]:
data

{'provider': 'https://www.exchangerate-api.com',
 'WARNING_UPGRADE_TO_V6': 'https://www.exchangerate-api.com/docs/free',
 'terms': 'https://www.exchangerate-api.com/terms',
 'base': 'USD',
 'date': '2023-10-22',
 'time_last_updated': 1697932801,
 'rates': {'USD': 1,
  'AED': 3.67,
  'AFN': 75.31,
  'ALL': 100.24,
  'AMD': 401.48,
  'ANG': 1.79,
  'AOA': 835.27,
  'ARS': 350.03,
  'AUD': 1.58,
  'AWG': 1.79,
  'AZN': 1.7,
  'BAM': 1.85,
  'BBD': 2,
  'BDT': 110.25,
  'BGN': 1.85,
  'BHD': 0.376,
  'BIF': 2827.49,
  'BMD': 1,
  'BND': 1.37,
  'BOB': 6.92,
  'BRL': 5.06,
  'BSD': 1,
  'BTN': 83.18,
  'BWP': 13.81,
  'BYN': 3.29,
  'BZD': 2,
  'CAD': 1.37,
  'CDF': 2483.31,
  'CHF': 0.892,
  'CLP': 940.24,
  'CNY': 7.32,
  'COP': 4223.37,
  'CRC': 530.5,
  'CUP': 24,
  'CVE': 104.17,
  'CZK': 23.28,
  'DJF': 177.72,
  'DKK': 7.05,
  'DOP': 56.72,
  'DZD': 137.67,
  'EGP': 30.9,
  'ERN': 15,
  'ETB': 55.81,
  'EUR': 0.945,
  'FJD': 2.28,
  'FKP': 0.823,
  'FOK': 7.05,
  'GBP': 0.823,
  'GEL': 2.69,
  'GGP': 0.823,
  'GHS': 11.91,
  'GIP': 0.823,
  'GMD': 65.8,
  'GNF': 8578.09,
  'GTQ': 7.84,
  'GYD': 209.46,
  'HKD': 7.82,
  'HNL': 24.67,
  'HRK': 7.12,
  'HTG': 133.89,
  'HUF': 361.17,
  'IDR': 15885.31,
  'ILS': 4.06,
  'IMP': 0.823,
  'INR': 83.18,
  'IQD': 1308.89,
  'IRR': 41919.37,
  'ISK': 138.57,
  'JEP': 0.823,
  'JMD': 155.65,
  'JOD': 0.709,
  'JPY': 149.84,
  'KES': 149.84,
  'KGS': 89,
  'KHR': 4120.48,
  'KID': 1.58,
  'KMF': 464.78,
  'KRW': 1351.26,
  'KWD': 0.309,
  'KYD': 0.833,
  'KZT': 479.59,
  'LAK': 20601.97,
  'LBP': 15000,
  'LKR': 323.69,
  'LRD': 190.83,
  'LSL': 19.02,
  'LYD': 4.89,
  'MAD': 10.32,
  'MDL': 18.22,
  'MGA': 4524.56,
  'MKD': 58.08,
  'MMK': 2099.78,
  'MNT': 3468.92,
  'MOP': 8.06,
  'MRU': 38.44,
  'MUR': 44.18,
  'MVR': 15.45,
  'MWK': 1169.49,
  'MXN': 18.27,
  'MYR': 4.77,
  'MZN': 63.88,
  'NAD': 19.02,
  'NGN': 776.11,
  'NIO': 36.57,
  'NOK': 11.05,
  'NPR': 133.08,
  'NZD': 1.72,
  'OMR': 0.384,
  'PAB': 1,
  'PEN': 3.87,
  'PGK': 3.71,
  'PHP': 56.75,
  'PKR': 278.72,
  'PLN': 4.21,
  'PYG': 7384.25,
  'QAR': 3.64,
  'RON': 4.7,
  'RSD': 110.63,
  'RUB': 96,
  'RWF': 1260.56,
  'SAR': 3.75,
  'SBD': 8.48,
  'SCR': 13.78,
  'SDG': 581.1,
  'SEK': 10.98,
  'SGD': 1.37,
  'SHP': 0.823,
  'SLE': 22.46,
  'SLL': 22462.47,
  'SOS': 570.99,
  'SRD': 38.35,
  'SSP': 1025,
  'STN': 23.15,
  'SYP': 12938.25,
  'SZL': 19.02,
  'THB': 36.48,
  'TJS': 10.93,
  'TMT': 3.5,
  'TND': 3.17,
  'TOP': 2.38,
  'TRY': 28.01,
  'TTD': 6.76,
  'TVD': 1.58,
  'TWD': 32.33,
  'TZS': 2512.29,
  'UAH': 36.55,
  'UGX': 3756.86,
  'UYU': 39.92,
  'UZS': 12190.95,
  'VES': 34.86,
  'VND': 24508.79,
  'VUV': 121.84,
  'WST': 2.78,
  'XAF': 619.71,
  'XCD': 2.7,
  'XDR': 0.762,
  'XOF': 619.71,
  'XPF': 112.74,
  'YER': 250.07,
  'ZAR': 19.02,
  'ZMW': 21.68,
  'ZWL': 5724.89}}

In [22]:
data.keys()

dict_keys(['provider', 'WARNING_UPGRADE_TO_V6', 'terms', 'base', 'date', 'time_last_updated', 'rates'])

In [24]:
data["rates"]# dictonary

{'USD': 1,
 'AED': 3.67,
 'AFN': 75.31,
 'ALL': 100.24,
 'AMD': 401.48,
 'ANG': 1.79,
 'AOA': 835.27,
 'ARS': 350.03,
 'AUD': 1.58,
 'AWG': 1.79,
 'AZN': 1.7,
 'BAM': 1.85,
 'BBD': 2,
 'BDT': 110.25,
 'BGN': 1.85,
 'BHD': 0.376,
 'BIF': 2827.49,
 'BMD': 1,
 'BND': 1.37,
 'BOB': 6.92,
 'BRL': 5.06,
 'BSD': 1,
 'BTN': 83.18,
 'BWP': 13.81,
 'BYN': 3.29,
 'BZD': 2,
 'CAD': 1.37,
 'CDF': 2483.31,
 'CHF': 0.892,
 'CLP': 940.24,
 'CNY': 7.32,
 'COP': 4223.37,
 'CRC': 530.5,
 'CUP': 24,
 'CVE': 104.17,
 'CZK': 23.28,
 'DJF': 177.72,
 'DKK': 7.05,
 'DOP': 56.72,
 'DZD': 137.67,
 'EGP': 30.9,
 'ERN': 15,
 'ETB': 55.81,
 'EUR': 0.945,
 'FJD': 2.28,
 'FKP': 0.823,
 'FOK': 7.05,
 'GBP': 0.823,
 'GEL': 2.69,
 'GGP': 0.823,
 'GHS': 11.91,
 'GIP': 0.823,
 'GMD': 65.8,
 'GNF': 8578.09,
 'GTQ': 7.84,
 'GYD': 209.46,
 'HKD': 7.82,
 'HNL': 24.67,
 'HRK': 7.12,
 'HTG': 133.89,
 'HUF': 361.17,
 'IDR': 15885.31,
 'ILS': 4.06,
 'IMP': 0.823,
 'INR': 83.18,
 'IQD': 1308.89,
 'IRR': 41919.37,
 'ISK': 138.57,
 'JEP': 0.823,
 'JMD': 155.65,
 'JOD': 0.709,
 'JPY': 149.84,
 'KES': 149.84,
 'KGS': 89,
 'KHR': 4120.48,
 'KID': 1.58,
 'KMF': 464.78,
 'KRW': 1351.26,
 'KWD': 0.309,
 'KYD': 0.833,
 'KZT': 479.59,
 'LAK': 20601.97,
 'LBP': 15000,
 'LKR': 323.69,
 'LRD': 190.83,
 'LSL': 19.02,
 'LYD': 4.89,
 'MAD': 10.32,
 'MDL': 18.22,
 'MGA': 4524.56,
 'MKD': 58.08,
 'MMK': 2099.78,
 'MNT': 3468.92,
 'MOP': 8.06,
 'MRU': 38.44,
 'MUR': 44.18,
 'MVR': 15.45,
 'MWK': 1169.49,
 'MXN': 18.27,
 'MYR': 4.77,
 'MZN': 63.88,
 'NAD': 19.02,
 'NGN': 776.11,
 'NIO': 36.57,
 'NOK': 11.05,
 'NPR': 133.08,
 'NZD': 1.72,
 'OMR': 0.384,
 'PAB': 1,
 'PEN': 3.87,
 'PGK': 3.71,
 'PHP': 56.75,
 'PKR': 278.72,
 'PLN': 4.21,
 'PYG': 7384.25,
 'QAR': 3.64,
 'RON': 4.7,
 'RSD': 110.63,
 'RUB': 96,
 'RWF': 1260.56,
 'SAR': 3.75,
 'SBD': 8.48,
 'SCR': 13.78,
 'SDG': 581.1,
 'SEK': 10.98,
 'SGD': 1.37,
 'SHP': 0.823,
 'SLE': 22.46,
 'SLL': 22462.47,
 'SOS': 570.99,
 'SRD': 38.35,
 'SSP': 1025,
 'STN': 23.15,
 'SYP': 12938.25,
 'SZL': 19.02,
 'THB': 36.48,
 'TJS': 10.93,
 'TMT': 3.5,
 'TND': 3.17,
 'TOP': 2.38,
 'TRY': 28.01,
 'TTD': 6.76,
 'TVD': 1.58,
 'TWD': 32.33,
 'TZS': 2512.29,
 'UAH': 36.55,
 'UGX': 3756.86,
 'UYU': 39.92,
 'UZS': 12190.95,
 'VES': 34.86,
 'VND': 24508.79,
 'VUV': 121.84,
 'WST': 2.78,
 'XAF': 619.71,
 'XCD': 2.7,
 'XDR': 0.762,
 'XOF': 619.71,
 'XPF': 112.74,
 'YER': 250.07,
 'ZAR': 19.02,
 'ZMW': 21.68,
 'ZWL': 5724.89}

In [26]:
data["rates"]["GBP"]*100

82.3

In [27]:
def curr_conv():
    response = requests.get(url)
    data = response.json()
    amount = 100
    converstion_currency = "GBP"
    data["rates"][converstion_currency]*amount

In [28]:
curr_conv()

In [29]:
def curr_conv():
    response = requests.get(url)
    data = response.json()
    amount = 100
    converstion_currency = "GBP"
    data["rates"][converstion_currency]*amount
    return "Waqas"

In [30]:
curr_conv()

'Waqas'

In [31]:
def curr_conv():
    response = requests.get(url)
    data = response.json()
    amount = 100
    converstion_currency = "GBP"
    conv = data["rates"][converstion_currency]*amount
    return conv

In [32]:
curr_conv()

82.3

In [33]:
def curr_conv():
    response = requests.get(url)
    data = response.json()
    # amount = 100
    converstion_currency = "GBP"
    conv = data["rates"][converstion_currency]*amount
    return conv

In [34]:
curr_conv()

NameError: name 'amount' is not defined

In [35]:
def curr_conv(amount):
    response = requests.get(url)
    data = response.json()
    # amount = 100
    converstion_currency = "GBP"
    conv = data["rates"][converstion_currency]*amount
    return conv

In [36]:
curr_conv()

TypeError: curr_conv() missing 1 required positional argument: 'amount'

In [37]:
curr_conv(500)

411.5

In [38]:
# len(l)

In [ ]:
def curr_conv(amount):
    response = requests.get(url)
    data = response.json()
    # amount = 100
    converstion_currency = "GBP"
    conv = data["rates"][converstion_currency]*amount
    return conv

In [39]:
def curr_conv(amount, Target_curr):
    response = requests.get(url)
    data = response.json()
    # amount = 100
    # converstion_currency = "GBP"
    conv = data["rates"][Target_curr]*amount
    return conv

In [40]:
curr_conv(255, "CAD")

349.35

In [41]:
curr_conv(1, "PKR")

278.72

In [42]:
def curr_conv(amount, Target_curr):
    response = requests.get(url)
    data = response.json()
    # amount = 100
    # converstion_currency = "GBP"
    conv = data["rates"][Target_curr]*amount
    return Target_curr +" " +str(conv)

In [43]:
curr_conv(1, "PKR")

'PKR 278.72'

In [44]:
import json

In [45]:
with open("sales.json") as f:
    sales = json.load(f)

In [46]:
type(sales)

dict

In [47]:
sales

{'3942': {'purchase_total': 100.5, 'currency': 'CAD'},
 '8791': {'purchase_total': 75.25, 'currency': 'EUR'},
 '5623': {'purchase_total': 50.75, 'currency': 'GBP'},
 '1234': {'purchase_total': 200.1, 'currency': 'USD'},
 '5678': {'purchase_total': 150.75, 'currency': 'JPY'},
 '9876': {'purchase_total': 300.5, 'currency': 'CAD'},
 '2457': {'purchase_total': 80.0, 'currency': 'USD'},
 '7365': {'purchase_total': 55.25, 'currency': 'GBP'},
 '8910': {'purchase_total': 120.6, 'currency': 'CAD'},
 '4321': {'purchase_total': 180.25, 'currency': 'EUR'},
 '6789': {'purchase_total': 90.75, 'currency': 'JPY'},
 '5432': {'purchase_total': 250.9, 'currency': 'USD'},
 '1098': {'purchase_total': 70.25, 'currency': 'GBP'},
 '3647': {'purchase_total': 140.5, 'currency': 'CAD'},
 '2190': {'purchase_total': 95.8, 'currency': 'EUR'},
 '8765': {'purchase_total': 180.75, 'currency': 'JPY'},
 '9875': {'purchase_total': 210.25, 'currency': 'USD'},
 '1342': {'purchase_total': 65.5, 'currency': 'GBP'},
 '7690': {'purchase_total': 110.2, 'currency': 'CAD'},
 '2389': {'purchase_total': 155.35, 'currency': 'EUR'},
 '6574': {'purchase_total': 80.75, 'currency': 'JPY'},
 '9832': {'purchase_total': 280.4, 'currency': 'USD'},
 '3257': {'purchase_total': 60.25, 'currency': 'GBP'},
 '7194': {'purchase_total': 130.75, 'currency': 'CAD'},
 '8746': {'purchase_total': 175.9, 'currency': 'EUR'},
 '2019': {'purchase_total': 85.75, 'currency': 'JPY'},
 '5437': {'purchase_total': 195.25, 'currency': 'USD'},
 '1025': {'purchase_total': 50.5, 'currency': 'GBP'},
 '6932': {'purchase_total': 120.3, 'currency': 'CAD'}}

In [48]:
len(sales)

29

In [49]:
for i in sales:
    print(i)

3942
8791
5623
1234
5678
9876
2457
7365
8910
4321
6789
5432
1098
3647
2190
8765
9875
1342
7690
2389
6574
9832
3257
7194
8746
2019
5437
1025
6932

In [50]:
for v in sales.values():
    print(v)

{'purchase_total': 100.5, 'currency': 'CAD'}
{'purchase_total': 75.25, 'currency': 'EUR'}
{'purchase_total': 50.75, 'currency': 'GBP'}
{'purchase_total': 200.1, 'currency': 'USD'}
{'purchase_total': 150.75, 'currency': 'JPY'}
{'purchase_total': 300.5, 'currency': 'CAD'}
{'purchase_total': 80.0, 'currency': 'USD'}
{'purchase_total': 55.25, 'currency': 'GBP'}
{'purchase_total': 120.6, 'currency': 'CAD'}
{'purchase_total': 180.25, 'currency': 'EUR'}
{'purchase_total': 90.75, 'currency': 'JPY'}
{'purchase_total': 250.9, 'currency': 'USD'}
{'purchase_total': 70.25, 'currency': 'GBP'}
{'purchase_total': 140.5, 'currency': 'CAD'}
{'purchase_total': 95.8, 'currency': 'EUR'}
{'purchase_total': 180.75, 'currency': 'JPY'}
{'purchase_total': 210.25, 'currency': 'USD'}
{'purchase_total': 65.5, 'currency': 'GBP'}
{'purchase_total': 110.2, 'currency': 'CAD'}
{'purchase_total': 155.35, 'currency': 'EUR'}
{'purchase_total': 80.75, 'currency': 'JPY'}
{'purchase_total': 280.4, 'currency': 'USD'}
{'purchase_total': 60.25, 'currency': 'GBP'}
{'purchase_total': 130.75, 'currency': 'CAD'}
{'purchase_total': 175.9, 'currency': 'EUR'}
{'purchase_total': 85.75, 'currency': 'JPY'}
{'purchase_total': 195.25, 'currency': 'USD'}
{'purchase_total': 50.5, 'currency': 'GBP'}
{'purchase_total': 120.3, 'currency': 'CAD'}

In [52]:
for v in sales.values():
    purchase_total = v['purchase_total']
    currency = v['currency']
    
    print(purchase_total, currency)

100.5 CAD
75.25 EUR
50.75 GBP
200.1 USD
150.75 JPY
300.5 CAD
80.0 USD
55.25 GBP
120.6 CAD
180.25 EUR
90.75 JPY
250.9 USD
70.25 GBP
140.5 CAD
95.8 EUR
180.75 JPY
210.25 USD
65.5 GBP
110.2 CAD
155.35 EUR
80.75 JPY
280.4 USD
60.25 GBP
130.75 CAD
175.9 EUR
85.75 JPY
195.25 USD
50.5 GBP
120.3 CAD

In [53]:
for v in sales.values():
    purchase_total = v['purchase_total']
    currency = v['currency']
    
    data = requests.get(url).json()
    exc_rates = data["rates"][currency]
    
    usd = purchase_total/exc_rates
    
    print(usd)

73.35766423357664
79.62962962962963
61.66464155528554
200.1
1.0060731446876667
219.34306569343065
80.0
67.13244228432565
88.02919708029196
190.74074074074076
0.6056460224239189
250.9
85.3584447144593
102.55474452554743
101.37566137566138
1.2062867058195408
210.25
79.58687727825031
80.43795620437956
164.3915343915344
0.5389081687132942
280.4
73.20777642770352
95.43795620437956
186.13756613756615
0.5722770955686065
195.25
61.36087484811665
87.81021897810218

In [55]:
for v in sales.values():
    purchase_total = v['purchase_total']
    currency = v['currency']
    
#     data = requests.get(url).json()
    exc_rates = data["rates"][currency]
    
    usd = purchase_total/exc_rates
    
    print(usd, currency)

73.35766423357664 CAD
79.62962962962963 EUR
61.66464155528554 GBP
200.1 USD
1.0060731446876667 JPY
219.34306569343065 CAD
80.0 USD
67.13244228432565 GBP
88.02919708029196 CAD
190.74074074074076 EUR
0.6056460224239189 JPY
250.9 USD
85.3584447144593 GBP
102.55474452554743 CAD
101.37566137566138 EUR
1.2062867058195408 JPY
210.25 USD
79.58687727825031 GBP
80.43795620437956 CAD
164.3915343915344 EUR
0.5389081687132942 JPY
280.4 USD
73.20777642770352 GBP
95.43795620437956 CAD
186.13756613756615 EUR
0.5722770955686065 JPY
195.25 USD
61.36087484811665 GBP
87.81021897810218 CAD

In [56]:
total_sales_usd = 0
for v in sales.values():
    purchase_total = v['purchase_total']
    currency = v['currency']
    
#     data = requests.get(url).json()
    exc_rates = data["rates"][currency]
    
    usd_amount = purchase_total/exc_rates
    
    total_sales_usd += usd_amount

In [57]:
total_sales_usd

3118.386183440194

In [58]:
def usd_sales():

    total_sales_usd = 0
    for v in sales.values():
        purchase_total = v['purchase_total']
        currency = v['currency']

    #     data = requests.get(url).json()
        exc_rates = data["rates"][currency]

        usd_amount = purchase_total/exc_rates

        total_sales_usd += usd_amount
    return total_sales_usd

In [59]:
usd_sales()

3118.386183440194

In [60]:
def usd_sales(reporting_curr, ):
    
    """
    This is build to produce a total sales in reporting currency
    
    abbbcbbcbcbc
    bababab
    
    
    """

    total_sales = 0
    for v in sales.values():
        purchase_total = v['purchase_total']
        currency = v['currency']

    #     data = requests.get(url).json()
        exc_rates = data["rates"][currency]

        usd_amount = purchase_total/exc_rates

        total_sales_usd += usd_amount
    return total_sales_usd

In [61]:
usd_sales.__doc__

'\n    This is build to produce a total sales in reporting currency\n    \n    '

In [62]:
len.__doc__

'Return the number of items in a container.'

In [64]:
print(type.__doc__)

type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type

In [66]:
print(range.__doc__)

range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).

In [69]:
print(max.__doc__)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

In [70]:
print.__doc__

'Prints the values to a stream, or to sys.stdout by default.\n\n  sep\n    string inserted between values, default a space.\n  end\n    string appended after the last value, default a newline.\n  file\n    a file-like object (stream); defaults to the current sys.stdout.\n  flush\n    whether to forcibly flush the stream.'